*{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla';
}


.sidebar{
    z-index: 5;
    position: fixed;
    width: 250px;
    right: -250px;
    height: 100%;
    background-color: #000;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 28px;
    color: #fff;
    line-height: 70px;
    text-align: center;
    background-color: #000;
    user-select: none;
}
.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: #fff;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-right: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
    background-color: #000;
}
.sidebar a.active, .sidebar a:hover{
    border-right: 5px solid #0095da;
    color: #fff;
    background: linear-gradient(90deg, #0095da 10%, #142064 90%);
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#check{
    position: fixed;
    display: none;
}
label #btn,label #cancel{
    z-index: 5;
    position: fixed;
    right: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-image: linear-gradient(120deg, #0095da 10%, #142064 90%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
    3.5px 3.5px 20px 0px rgba(0,0,0,.1),
    2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sidebar{
    right: 0;
}
#check:checked ~ label #btn{
    margin-right: 255px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-right: 255px;
    opacity: 1;
    visibility: visible;
}



#start_header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('prog_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#normal_header{
    position: sticky;
    top: 0;

    background-image: linear-gradient(90deg, #0095da 10%, #142064 90%);
    display: flex;
    justify-content: center;
}

h1{
    user-select: none;
    color: white;
    font-size: 500%;
}

h2{
    user-select: none;
    color: white;
    font-size: 300%;
    margin: 10px;
}

#my_face{
    width: 15%;
    border-radius: 20%;

}

p{font-size: 150%;}

li{font-size: 150%;}

#first_words{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first_words p{margin-right: 40px;}

a{
    text-decoration: none;
    color: #0214BB;
    font-weight: bold;
}

main{
    padding: 50px;
}

article{
    margin: 40px 0 40px 0;
}

h3{
    text-align: center;
    font-size: 400%;
}

h4{
    font-size: 250%;
}

.head_article h3{
    margin: 20px;
}

article hr{
    background-color: black;
    height: 3px;
}

.data_article{
    margin-top: 30px;
}

.bar{
    height: 20px;
    width: 40vw;
    background: lightgray;
    border-radius: 10px;
}

.fillbar{
    height: 20px;
    background: #0214BB;
    border-radius: 10px;
}

#cplus {width: 30vw;}
#py {width: 20vw;}
#csh {width: 20vw;}

.the_lang{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#languages .data_article{
    padding: 0 15vw 0 15vw;
}

#skills .data_article{
    display: flex;
    justify-content: space-around;
    h4{margin: 10px;};
}

#expirience .data_article div{
    margin: 20px;
    h4{margin-top: 30px; margin-bottom: 20px;}
}

footer {
    background-color: #0214BB;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.social_media{
    margin-top: 20px;
}

.social_media a{
    margin: 0 30px 0 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 150%;
}