*{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla';
}


.sidebar{
    z-index: 5;
    position: fixed;
    width: 250px;
    right: -250px;
    height: 100%;
    background-color: #000;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 28px;
    color: #fff;
    line-height: 70px;
    text-align: center;
    background-color: #000;
    user-select: none;
}
.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: #fff;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-right: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
    background-color: #000;
}
.sidebar a.active, .sidebar a:hover{
    border-right: 5px solid #0E5C4E;
    color: #fff;
    background: linear-gradient(90deg, #0E5C4E 10%, #11385c 90%);
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#check{
    position: fixed;
    display: none;
}
label #btn,label #cancel{
    z-index: 5;
    position: fixed;
    right: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-image: linear-gradient(120deg, #0E5C4E 10%, #11385c 90%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
    3.5px 3.5px 20px 0px rgba(0,0,0,.1),
    2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sidebar{
    right: 0;
}
#check:checked ~ label #btn{
    margin-right: 255px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-right: 255px;
    opacity: 1;
    visibility: visible;
}



#start_header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('theater_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#normal_header{
    position: sticky;
    top: 0;

    background-image: linear-gradient(90deg, #0E5C4E 10%, #11385c 90%);
    display: flex;
    justify-content: center;
}

h1{
    user-select: none;
    color: white;
    font-size: 500%;
}

h2{
    user-select: none;
    color: white;
    font-size: 300%;
    margin: 10px;
}

#my_face{
    width: 20%;
    border-radius: 20%;

}

p{font-size: 150%;}

span{font-weight: bold;}

#about_me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#past{
    height: 50vh;
    background: url("theater_past.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;
    display: flex;
    align-items: center;
}

#past div {
    max-width: 40%;
    margin-left: auto;
    margin-right: 20px;
    background-color: rgb(138, 154, 172);

    padding: 20px;
    border-radius: 30px;
}


#about_guap{
    padding:50px;
}

#about_guap img{
    width: 20%;
    border-radius: 20%;
}

#about_guap div{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{max-width: 60%;}
}

#last_word{
    padding: 50px;
}


.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    width: 300%;
    transition: transform 1s;
}

.carousel-item {
    flex: 1;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
}









footer {
    background-color: #0E5C4E;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.social_media{
    margin-top: 20px;
}

.social_media a{
    margin: 0 30px 0 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 150%;
}