*{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla';
}

.sidebar{
    z-index: 5;
    position: fixed;
    width: 250px;
    right: -250px;
    height: 100%;
    background-color: #000;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 28px;
    color: #fff;
    line-height: 70px;
    text-align: center;
    background-color: #000;
    user-select: none;
}
.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: #fff;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-right: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
    background-color: #000;
}
.sidebar a.active, .sidebar a:hover{
    border-right: 5px solid #2D5039;
    color: #fff;
    background: linear-gradient(90deg, #2D5039 10%, #121942 90%);
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#check{
    position: fixed;
    display: none;
}
label #btn,label #cancel{
    z-index: 5;
    position: fixed;
    right: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-image: linear-gradient(120deg, #2D5039 10%, #121942 90%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
    3.5px 3.5px 20px 0px rgba(0,0,0,.1),
    2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sidebar{
    right: 0;
}
#check:checked ~ label #btn{
    margin-right: 255px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-right: 255px;
    opacity: 1;
    visibility: visible;
}



#start_header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('main_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#start_header hr{
    width: 20vw;
    height: 2px;
    background-color: white;
    
}

#normal_header{
    position: sticky;
    top: 0;

    background-image: linear-gradient(90deg, #2D5039 10%, #121942 90%);
    display: flex;
    justify-content: center;
}

h1{
    user-select: none;
    color: white;
    font-size: 500%;
}

h2{
    user-select: none;
    color: white;
    font-size: 300%;
    margin: 10px;
}

h4{
    user-select: none;
    color: white;
    font-size: 4em;
}

#cringe_face{
    width: 15%;
    border-radius: 20%;
}

.about_me{
    padding: 30px;
    font-size: 150%;
}

#first_words{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#first_words p{
    margin: 30px;
    
}

#interwie{
    margin: 40px 0 40px 0;
}

.my_business{
    background-color: #2D5039;
    padding-top: 10px;
}
.my_business h2{
    margin: 30px;
    text-align: center
}

.part_of_my_life{
    height: 30vh;
    transition: 0.5s;
    box-shadow: none;
    display: flex;
    align-items: end;

    
}

.part_of_my_life:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #000000;
}

.part_of_my_life h3{
    margin: 0 10% 0 10%;
    padding: 20px;
    color: white;
    font-size: 200%;
    box-shadow: 10px -10px 0px black;
}

#prog{
    background: url("prog_back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#prog h3{
    background-color: #121942;
}

#barista{
    background: url("barista_back.jpg");
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: cover;
}

#barista h3{
    background-color: #31200d;
}

#theater{
    background: url("theater_back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#theater h3{
    background-color: #0a222b;
}

#ktm{
    background: url("ktm_back.jpg");
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
}

#ktm h3{
    background-color: #351010;
}

#other{
    background: url("other_back.jpg");
    background-repeat: no-repeat;
    background-position: 0 27%;
    background-size: cover;
}

#other h3{
    background-color: #2E2E2E;
}

footer {
    background-color: #2D5039;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-size: 150%;
}

.social_media{
    margin-top: 20px;
}

.social_media a{
    margin: 0 30px 0 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
